@page "/"

<h1>蹭饭地图</h1>
<a>蹭饭即正义。</a>

<hr />
<Latency />

<PictureSet_Map Title="中国" FooterComment="本地图精度较低，不代表实际地形与地区划分。" MapWidth="800" MapHeight="640" PictureSetProjectSrc="images/AD_CN/CN_map.psp" BasePath="images/AD_CN" />

<PictureSet_Map Title="英国·苏格兰" FooterComment="本地图精度较低，不代表地形与实际地区划分。" MapWidth="256" MapHeight="256" PictureSetProjectSrc="images/AD_UK/Scotland_map.psp" BasePath="images/AD_UK" />