@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <!--<a href="https://github.com/Orange23333/FreeloadMap/blob/master/README.md" target="_blank">About</a>-->
    </div>

    <div class="content px-4">
        @Body
    </div>

    <div class="bottom-row px-4">
        <p>在<a target="_blank" href="https://github.com/Orange23333/FreeloadMap">Github</a>上浏览FreeloadMap项目，<a href="https://github.com/Orange23333/FreeloadMap/blob/master/README.md" target="_blank">关于</a></p>
        <p>View FreeloadMap project on <a target="_blank" href="https://github.com/Orange23333/FreeloadMap">Github</a>, <a href="https://github.com/Orange23333/FreeloadMap/blob/master/README.md" target="_blank">About</a></p>
        <p>Copyright © 2021 Bisitsoft</p>
    </div>
</div>