@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>

    <div class="bottom-row px-4">
        <p>View FreeloadMap project on <a target="_blank" href="https://github.com/Orange23333/FreeloadMap">Github</a></p>
        <p>Copyright © 2021 Bisitsoft</p>
    </div>
</div>